@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');



*{
    margin: 0;
    padding: o;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
p{
    margin: 0;
}
a:link, a:visited, a:active{
	text-decoration: none;
    color: #FFFFFF;
}

/* HEADER */
.header_topo{
    background-image: url(../../dist/img/bg/bg_header.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

/* MENU TOPO */
.header_topo .nav_content{
    height: 120px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    background-color: transparent;
}
.header_topo .logo_topo{
    height: 59px;
    width: 178px;
    margin-left: 72px;
    margin-top: 22px;
}
.header_topo .navbar-nav{
    gap: 62px; 
    margin-left: 60px;
    margin-top: 30px;
}
.header_topo .nav-link{
    color: #dcd9d9 !important;
    font-size: 0.875rem;
    font-weight: 300;
}
.header_topo .nav-link:hover{
    color: #ffffff !important;
    transform: scale(1.05);
}
.header_topo .navbar-collapse {
    width: auto;
  }
.navbar-toggler{
    margin-right: 60px;
    margin-top: 30px;
    border-color: #454545 !important;
}

/* TEXTO HEADER */
.content_big-campaign{
    padding-top: 106px;
    padding-left: 180px
}
.big_campaign-text{
    color: #F2F2F2;
    font-size: 2.625rem;
    font-weight: 400;
}
.fw_800{
    font-weight: 800;
}
.fw_500{
    font-weight: 500;
    font-style: italic;
}
.btn_big-campaign{
    padding-left: 180px;
    padding-top: 56px;
    padding-bottom: 184px;
}
.btn_campaign{
    font-size: 1rem;
    font-weight: 600;
    color: #F2F2F2;
    border: none;
    border-radius: 5px;
    padding: 17px 38px 17px 38px;
    background-color: #687FA1;
}
.btn_campaign img{
    width: 14px;
    height: 14px;
    margin-left: 10px;
}
.btn_campaign:hover{
    background-color: #7F94B1;
}

/* MENU LATERAL */
.floating_menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: 30px;
    padding-right: 40px;
}
.active_circle{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #F2F2F2;
    border: 1px solid #2E2E2E;
}
.circle{
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #666666;
    border: 1px solid #2E2E2E;
}
[data-tooltip] {
    position: relative;
    font-weight: 600;
    font-size: 0.8rem;
    text-align: center;
}
[data-tooltip]:after {
    display: none;
    position: absolute;
    top: -8px;
    left: calc(1% - 78px);
    width: 70px;
    padding: 3px;
    border-radius: 2px;
    content: attr(data-tooltip);
    white-space: nowrap;
    background-color: #7F94B1;
    color: #F2F2F2;
}
[data-tooltip]:before {
	content: '';
	display: none;
	position: absolute;
	left: calc(1% - 16px);
	top: 0px;
	transform: rotate(45deg);
	width: 10px;
	height: 10px;
	background-color: #7F94B1;
}
[data-tooltip]:hover:after {
    display: block;
}
[data-tooltip]:hover:before {
    display: block;
}

/* Logo Parceiros */
.logo_partners{
    display: flex;
    align-items: center;
    height: 113px;
    background: #ebeef3;
}
.itens_partners{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 32px;
    margin-left: 85px;
    opacity: 0.70;
    overflow: hidden;
}

/* Campanha bem escrita */
.written_campaign{
    background-color: #F4F6F7;
    background-image: url(../../dist/img/bg/bg_pen.png);
    background-repeat: no-repeat;
    background-size: 51%;
    background-position: right bottom;
}
.content_written-campaign{
    padding-left: 180px;   
}
.written_campaign-title{
    padding-top: 64px;
    padding-bottom: 20px;
    font-size: 2.625rem;
    font-weight: 600;
    line-height: 63px;
    color: #2E2E2E;
}
.written_campaign-text{
    margin-top: 30px;
    padding-bottom: 80px;
    font-weight: 400;
    font-size: 1.188rem;
    color: #2E2E2E;
}

/* Investir em grandes campanhas */
.invested_campaign{
    background: #EBEEF3; 
    padding-bottom: 79px;  
}
.invested_text h2{  
    font-size: 2.625rem;
    font-weight: 600;
    line-height: 63px;
    text-align: left;
    padding-top: 64px;
    padding-left: 180px;
    padding-bottom: 56px;
}
.depositions_content{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}
.depositions_infor{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 24px 40px 40px;
    width: 729px;
    gap: 16px;
    background: #F6F7F9;
    margin-left: 10px;
}
.depositions_title{
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    color: #7F94B1;
}
.depositions_text{
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    color: #1A1A1A;
}
.depositions_img{
    display: flex;
}
.arrow_btn-left{
    display: flex;
    align-items: center;
    border: none;
    padding-right: 60px;
}
.arrow_btn-right{
    display: flex;
    align-items: center;
    border: none;
    padding-left: 60px;   
}
.depositions_name{
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    color: #1A1A1A;
}
.depositions_function{
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    color: #666666;
}
.depositions_count ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    width: 30px;
    padding-left: 60px;
    gap: 9px;
}
.depositions_count ul .count_main{
    font-style: normal;
    font-weight: 400;
    font-size: 1.375rem;
    color: #1A1A1A;
}
.depositions_count ul .count_border{
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    color: #A6A6A6;
    border-top: 1px solid #A6A6A6;
    padding-top: 10px;
}
.depositions_count ul .count{
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    color: #A6A6A6;
}

/* Quem escreveu essas campanhas */
.wrote_campaign{
    background-image: url(../../dist/img/bg/bg_wrote_campaign.png);
}
.content_wrote-campaign{
    display: flex;
    padding-left: 180px;
}
.wrote_campaign-title{
    padding-top: 64px;
    font-size: 2.625rem;
    font-weight: 600;
    line-height: 63px;
    color: #F2F2F2;
}
.wrote_campaign-text{
    margin-top: 36px;
    padding-bottom: 66px;
    font-weight: 400;
    font-size: 1.188rem;
    color: #F2F2F2;
}
.wrote_campaign-img{
   padding-top: 113px;
   padding-left: 123px;
}
.wrote_campaign-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 59px;
    padding-bottom: 30px;
    gap: 34px;
}
.wrote_campaign-logo button{
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: transparent;
    border: none;
    height: 142px;
    width: 305px;
    transition: all 0.8s;
    opacity: 0.8;
}
.wrote_campaign-logo button.folha{
    background-image: url(../../dist/img/logo-parceiros/folha_dark.png);
}
.wrote_campaign-logo button.folha:hover{
    background-image: url(../../dist/img/logo-parceiros/folha_light.png);
    transition: all 0.7s;
    opacity: 2;
}
.wrote_campaign-logo button.voce_sa{
    background-image: url(../../dist/img/logo-parceiros/voce_dark.png);
}
.wrote_campaign-logo button.voce_sa:hover{
    background-image: url(../../dist/img/logo-parceiros/voce_light.png);
    transition: all 0.8s;
    opacity: 2;
}
.wrote_campaign-logo button.empreenda{
    background-image: url(../../dist/img/logo-parceiros/empreenda_dark.png);
}
.wrote_campaign-logo button.empreenda:hover{
    background-image: url(../../dist/img/logo-parceiros/empreenda_light.png);
    transition: all 0.8s;
    opacity: 2;
}
.wrote_campaign-logo button.uol{
    background-image: url(../../dist/img/logo-parceiros/uol_dark.png);
}
.wrote_campaign-logo button.uol:hover{
    background-image: url(../../dist/img/logo-parceiros/uol_light.png);
    transition: all 0.8s;
    opacity: 2;
}

/* Como Thiago pode ajudar */  
.help_thiago{
    background-color: #131212;
    background-image: url(../../dist/img/bg/bg_help.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
}
.help_thiago-title h2{
    font-style: normal;
    font-weight: 400;
    font-size: 2.625rem;
    line-height: 63px;
    color: #F2F2F2;
    padding-left: 180px;
    padding-top: 64px;
    padding-bottom: 90px;
}
.help_thiago-title span{
    color: #ACB9CD;
}
.help_frames{
    display: flex;
    justify-content: center;
    align-items:flex-start;
    gap: 30px;
    padding-bottom: 190px;
}
.help_frame_text{
    display: flex;
    flex-direction: column;
    align-items: left;
    /* width: 312px; */
    padding-top: 74px;
    padding-left: 30px;
}
.help_frame_text h2{
    font-style: normal;
    font-weight: 700;
    font-size: 1.25rem;
    text-transform: uppercase;
    color: #ACB9CD;
}
.help_frame_text p{
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    color: #F2F2F2; 
    padding-top: 20px;
}
.help_frame_01{
    background-image: url(../../dist/img/frame01.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    height: 350px;
    width: 328px;
}
.help_frame_02{
    background-image: url(../../dist/img/frame02.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    height: 380px;
    width: 328px;
}
.help_frame_03{
    background-image: url(../../dist/img/frame03.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    height: 340px;
    width: 328px;
}
.help_frame_btn{
    background-color: transparent;
    border: none;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    color: #ACB9CD; 
    padding-top: 30px;
}
.help_frame_btn:hover{
    color: #7F94B1;
}

/* Blog Thiago */
.blog_thiago{
    background-color: #F4F6F7;
}
.blog_thiago-title h2{
    font-style: normal;
    font-weight: 600;
    font-size: 2.625rem;
    line-height: 63px;
    color: #2E2E2E; 
    padding-top: 65px;
    padding-left: 180px;
}
.blog_thiago-row{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.blog_thiago-cards{
    display: flex;
    justify-content: center;
    padding-top: 64px;
    gap: 100px;
}
.card_blog1{
    width: 293px;
}
.card_blog2{
    width: 293px;
}
.card_blog3{
    width: 293px;
}
.card_title h3{
    font-size: 1.188rem;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    padding-top: 14px;
}
.card_title h3 a{
    text-decoration: none;
    color: #2E2E2E;
    transition: all 0.3s;
}
.card_title h3 a:hover{
    color: #687FA1;
    transition: all 0.3s;
}
.card_text p{
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #4F4F4F;
}
.button_slide-card{
    padding-top: 56px;
    padding-bottom: 56px;
    gap: 10px;
}
.button_slide-card .btn_item{
    width: 24px;
    height: 2px;
    background-color: #A6A6A6 ;
    border: none;
}
.button_slide-card .active{
    background-color: #1A1A1A;
}
.row_card-botton{
    width: 100%;
    border: 0.70px solid #A6A6A6;
}
.btn_blog{
    display: flex;
    justify-content: center;
    padding-bottom: 62px;
}
.btn_blog button{
    font-size: 1rem;
    font-weight: 600;
    color: #F2F2F2;
    border: none;
    border-radius: 5px;
    margin-top: 56px;
    width: 197px;
    height: 50px;
    background-color: #687FA1;
}
.btn_blog img{
    display: none;
    width: 14px;
    height: 14px;
    margin-left: 10px;
}
.btn_blog button:hover{
    background-color: #7F94B1;
}
.btn_blog button:hover img{
    display: inline;
}

/* Campanhas de marketing assinadas por Thiago Domingos */
.signed_thiago{
    background-color: #131212;
}
.signed_title h2{
    font-style: normal;
    font-weight: 600;
    font-size: 2.625rem;
    line-height: 63px;
    color: #F2F2F2;
    padding-top: 64px;
    padding-left: 180px;
    padding-bottom: 64px;
}
.signed_zoom{
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.signed_zoom img{
    width: 100vw;
    transition: all 2.4s;
    opacity: 70%;
}
.signed_zoom:hover img{
    transform: scale(1.1);
}
.title_signed-zoom{
    position: absolute;
    left: 5%;
    right: 5%;    
    z-index: 10;
    font-style: normal;
    font-weight: 500;
    font-size: 3.25rem;
    line-height: 100%;
    text-align: center;
    color: #FFFFFF;
}
.btn_signed-thiago{
    display: flex;
    justify-content: center;
    padding-top: 63px;
    padding-bottom: 69px;
}
.btn_signed{
    font-size: 1rem;
    font-weight: 600;
    color: #F2F2F2;
    border: none;
    border-radius: 5px;
    width: 233px;
    height: 50px;
    background-color: #687FA1;
}
.btn_signed img{
    display: none;
    width: 14px;
    height: 14px;
    margin-left: 10px;
}
.btn_signed:hover{
    background-color: #7F94B1;
}
.btn_signed:hover img{
    display: inline;
}

/* Entre em contato */
.contact_thiago{
    background-color: #1A1A1A;
}
.title_contact-thiago h2{
    font-style: normal;
    font-weight: 600;
    font-size: 2.625rem;
    line-height: 63px;
    color: #F2F2F2;
    padding-top: 65px;
    padding-bottom: 52px;
    padding-left: 180px;
}
.form_contact{
    display: flex;
    justify-content: end;
    align-items: end;
    padding-right: 182px;
    padding-bottom: 58px;
}
.form-label{
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 21px;
    color: #A6A6A6;
}
.form-check-label{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.625rem;
    line-height: 12px;
    color: #fffafa;
}
input.form-control{
    background-color: transparent;
    height: 50px;
    border: 0.7px solid #666666;
    border-radius: 5px;
}
.form-control:focus{
    background-color: #404040;
}
.form-control:empty{
    color: #A6A6A6 !important;
}
.form-check-input{
    background: #D9D9D9;
    border: 0.7px solid #A6A6A6;
    border-radius: 1px;
}
.form-control::placeholder{
    font-size: 0.875rem;
    color: #666666;
}
textarea.form-control{
    background-color: transparent;
    border: 0.7px solid #666666;
    border-radius: 5px;
}
.btn-primary{
    background-color: #687FA1 !important;
    border-radius: 5px;
    border: none;
    padding: 17px 36px 17px 36px;
}
.btn-primary:hover{
    background-color: #7F94B1 !important;
}
.btn_form{
    display: flex;
    justify-content: end;
    margin-top: 40px;
}

/* Footer */
.footer_thiago{
    background-color: #131212;
    padding-left: 75px;
    padding-right: 75px;
}
.footer_topo{
    display: flex;
    justify-content: space-between;
    padding-top: 38px;
}
.social_footer{
    display: flex;
    gap: 24px;
}
.footer_links{
    display: flex;
    padding-top: 36px;
    padding-bottom: 36px;
}
.footer_menu{
    padding-right: 86px;
}
.footer_links ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 0px;
    gap: 8px;
    list-style-type: none;
}
.footer_links ul li{
    font-style: normal;
    font-weight: 300;
    font-size: 0.875rem;
    line-height: 21px;
    color: #A6A6A6;
}
.footer_copyright{
    text-align: center;
    padding-bottom: 20px;
    font-style: normal;
    font-weight: 300;
    font-size: 0.75rem;
    line-height: 18px;
    color: #666666;
    border-top: 0.5px solid #666666;
}
.footer_copyright p{
    padding-top: 8px;
}



